interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://maps.googleapis.com/maps/api/streetview/metadata?pano=_R1mwpMkiqa2p0zp48EBJg
  response:
    body:
      string: "{\n   \"copyright\" : \"\\u00a9 Google\",\n   \"date\" : \"2019-08\",\n
        \  \"location\" : {\n      \"lat\" : 41.89820659475458,\n      \"lng\" : 12.47644649615282\n
        \  },\n   \"pano_id\" : \"_R1mwpMkiqa2p0zp48EBJg\",\n   \"status\" : \"OK\"\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
